  
  <h1><%=page.month + '/' + page.year%></h1>

  <% page.posts.each(function(article) { %>
    <div class="archive-item">
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
      <% if (article.link) { %>
        <!-- external link -->
        <a href="<%=url_for(article.link)%>" target="_blank">
          <%=article.title || 'No Title'%>
        </a>
      <% } else { %>
        <!-- internal link -->
        <a href="<%=url_for(article.path)%>">
          <%=article.title || 'No Title'%>
        </a>
      <% } %>
    </div>
  <% }); %>
<!-- 时间轴+下拉加载 -->
<%-partial('partials/pagination')%>