  <div id="archive">
    <div class="archive-items-container">
    <% var preYear; 
       page.posts.each(function(article) { 
         if(preYear!==date(article.date,'YYYY')) {
           preYear=date(article.date,'YYYY'); %>
          <div class="archive-item">
            <time class="year">
              <%=preYear%>
            </time>
          </div>

       <% } %>

      <div class="archive-item">
        <time datetime="<%=date_xml(article.date)%>">
          <%= date(article.date,'MM-DD')%>
        </time>

        <% if (article.link) { %>

          <!-- external link -->
          <a href="<%=url_for(article.link)%>" target="_blank"><span><%=site.posts.length-site.posts.sort('date',-1).data.indexOf(article)%>.</span><%=article.title || 'No Title'%>
          </a>

        <% } else { %>

          <!-- internal link -->
          <a href="<%=url_for(article.path)%>"><span><%=site.posts.length-site.posts.sort('date',-1).data.indexOf(article)%>.</span><%=article.title || 'No Title'%>
          </a>

        <% } %>

      </div>

    <% }); %>

    <nav id="pagination">
      <div class="prev-container">
      <% if (page.prev_link) { %>
        <a href="<%=url_for(page.prev_link)%>" class="prev">&larr; Prev</a>
      <% } else if (page.prev && page.prev.path) { %>
        <a href="<%=url_for(page.prev.path)%>" class="prev">&larr; Prev</a>
      <% } %>
      </div>

      <% if (typeof page.current === 'number' && typeof page.total === 'number' && page.total!==1) { %>
        <span class="page-number">
          Page <%=page.current%> of&nbsp;&nbsp;<a class="last-page" href="/archives/page/<%=page.total%>"><%=page.total%></a>
        </span>
      <% } %>

      <div class="next-container">
      <% if (page.next_link) { %>
        <a href="<%=url_for(page.next_link)%>" class="next">Next &rarr;</a>
      <% } else if (page.next && page.next.path) { %>
        <a href="<%=url_for(page.next.path)%>" class="next">Next &rarr;</a>
      <% } %>
      </div>
    </nav>
  </div>
</div>