<!-- 导航模块 -->

<nav id="menu">
    <a href="<%- url_for() %>" class="<%- is_home()?'active':''%>">Home</a>
    <a href="<%- url_for('/archives') %>" class="<%- is_archive()?'active':''%>">Archives</a>
    <a href="<%- url_for('/about') %>" class="<%- is_current('about')?'active':'' %>">About</a>
</nav>