
<nav id="pagination">
  <% if (page.prev_link) { %>
    <a href="<%=url_for(page.prev_link)%>" title="<%=page.prev.title%>" class="prev">&larr; Prev</a>
  <% } else if (page.prev && page.prev.path) { %>
    <a href="<%=url_for(page.prev.path)%>" title="<%=page.prev.title%>" class="prev">&larr; Prev</a>
  <% } %>

  <% if (typeof page.current === 'number' && typeof page.total === 'number') { %>
    <span class="page-number">
      Page <%=page.current%> of <%=page.total%>
    </span>
  <% } %>

  <% if (page.next_link) { %>
    <a href="<%=url_for(page.next_link)%>" title="<%=page.next.title%>" class="next">Next &rarr;</a>
  <% } else if (page.next && page.next.path) { %>
    <a href="<%=url_for(page.next.path)%>" title="<%=page.next.title%>" class="next">Next &rarr;</a>
  <% } %>
</nav>
